<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped text-center my-3" id="tdata">
                    <thead>
                        <tr class="table-dark text-center">
                            <th>Id</th>
                            <th>RideId</th>
                            <th>Driver Name</th>
                            <th>From</th>
                            <th>To</th>
                             <!-- <th>Stops</th> -->
                            <th>VehicleType</th>
                            <th>TotalDistance</th>
                            <th>TotalTime</th>
                            <th>EstimatePrice</th>
                            <th>Ride Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr class="align-middle" id="tabletr" *ngFor="let confirmride of createridedata; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{ confirmride._id}}</td>
                            <td>{{confirmride.driverdata?.name ?confirmride.driverdata.name:'null'}}</td>
                            <td>{{ confirmride.from }}</td>
                            <td>{{ confirmride.to }}</td>
                            <!-- <td>{{ confirmride.stops.join(', ') }}</td> -->
                            <td>{{ confirmride.vehicleType}}</td>
                            <td>{{ confirmride.totalDistance }}</td>
                            <td>{{ confirmride.totalTime }}</td>
                            <td>{{ confirmride.estimatePrice }}</td>
                            <!-- <td>{{ confirmride.assigned }}</td> -->
                            <td>
                                <ng-container *ngIf="confirmride.assigned === 1">Assigning</ng-container>
                                <ng-container *ngIf="confirmride.assigned === 4">Accepted</ng-container>
                              <ng-container *ngIf="confirmride.assigned === 5">Arrived</ng-container>
                              <ng-container *ngIf="confirmride.assigned === 6">Started</ng-container>
                            </td>
                            <!-- <td>
                                <button type="button" class="btn btn-secondary btn-sm" (click)="onAcceptRequest(confirmride._id)">Accept Request</button>
                            </td> -->
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm m-1" (click)="onAcceptRequest(confirmride._id,confirmride.driverId)" *ngIf="confirmride.assigned === 1">Accept</button>
                                <button type="button" class="btn btn-secondary btn-sm m-1" (click)="onArriveRequest(confirmride._id,confirmride.driverId)" *ngIf="confirmride.assigned === 4">Arrive</button>
                                <button type="button" class="btn btn-secondary btn-sm m-1" (click)="onStartRequest(confirmride._id,confirmride.driverId)" *ngIf="confirmride.assigned === 5">Start</button>
                                <button type="button" class="btn btn-secondary btn-sm m-1" (click)="onCompleteRequest(confirmride._id,confirmride.driverId)" *ngIf="confirmride.assigned === 6">Complete</button>
                                <!-- <button type="button" class="btn btn-secondary btn-sm m-1" (click)="onAcceptRequest(confirmride._id)">Accept</button> -->
                                <button type="button" class="btn btn-secondary btn-sm m-1" (click)="onDeleteDriver(confirmride._id)">Reject</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="createridedata.length === 0" class="text-center">
                    <p class="text-muted">No Running rides are available.</p>
                </div>
        </div>

        <!-- <div class="pagination">
                <button class="btn btn-secondary" [disabled]="currentPage === 1" (click)="prevPage()">Previous</button>
                <ng-container *ngFor="let page of generatePageArray()">
                    <button class="btn btn-secondary" [class.active]="page === currentPage" (click)="goToPage(page)">{{
                        page }}</button>
                </ng-container>
                <button class="btn btn-secondary" [disabled]="currentPage === totalPages"
                    (click)="nextPage()">Next</button>
            </div> -->
    </div>
</div>
</div>