<div class="sidebar" [class.sidebar-close]="!openSidebar">
  <div class="logo-details">
    <div class="logo"></div>
  </div>
  <ul class="nav-links" id="nav-links">
    <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
      <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
        <a [routerLink]="[item.link]">
          <i [class]="item.icon"></i>
          <span class="link_name">{{item.link_name}}</span>
        </a>
      </div>
      <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
        <a>
          <i [class]="item.icon"></i>
          <span class="link_name">{{item.link_name}}</span>
        </a>

        <i class="fa-solid fa-angle-down"></i>
      </div>
      <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
        <li><a class="link_name">{{item.link_name}}</a></li>
        <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
          <a [routerLink]="[item_sub.link]">{{item_sub.link_name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="home-header">
  <div class="hamburger-menu"  >
    <input type="checkbox" id="checkbox-hamburger-menu" [(ngModel)]="openSidebar" />
    <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
  </div>

  <div>
  <mat-icon class="notification-icon" matBadge="{{ notificationCount }}" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
  <input type="button" class="logbtn" (click)="onLogout()" value="Logout"  />
  </div>
</div>


<section class="home-section">
  <div class="home-view">
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, dignissimos. Earum aliquam reiciendis deleniti cupiditate.</p> -->
    <router-outlet></router-outlet>
  </div>
</section>



















<!-- <div class="sidebar" [class.sidebar-close]="!openSidebar">
    <div class="logo-details">
      <div class="logo"></div>
    </div>
    <ul class="nav-links" id="nav-links">
      <li *ngFor="let item of menuSidebar; let i = index" #itemEl routerLinkActive="active">
        <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
          <a [routerLink]="[item.link]">
            <i [class]="item.icon"></i>
            <span class="link_name">{{item.link_name}}</span>
          </a>
        </div>
        <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl,i)">
          <a>
            <i [class]="item.icon"></i>
            <span class="link_name">{{item.link_name}}</span>
          </a>

          <i class="fa-solid fa-angle-down" [class.open]="currentOpenIndex === i"></i>
        </div>
        <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0" [class.open]="currentOpenIndex === i">
          <li><a class="link_name">{{item.link_name}}</a></li>
          <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
            <a [routerLink]="[item_sub.link]">{{item_sub.link_name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div> -->