/* #googleMap {
    width: 50%;
    height: 400px;
    margin: 10px auto;
  } */

  #googleMap {
    width: 100%;
    height: 800px;
  }
  
  .map-container {
    width: 50%;
    height: 800px;
    margin: 10px auto;
  }