#icon {
    width:50%;
  }

  /* .inputtxt{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  .inputtxt:focus,.inputtxt:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  .inputtxt:placeholder {
    color: #cccccc;
  }
  
  
  input.invalid-textbox,input.invalid-textbox{
  border-bottom: 2px solid #ed5558;
  }
  
  label.validation-message{
    color:#ed5558;
  } */

  /* .subbtn{
    cursor: pointer;
    background-color: #848d8d;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
  } 
  
  .subbtn:hover, .subbtn:hover, .subbtn:hover  {
    background-color:#838585;
  }
  .subbtn:disabled{
    background-color: grey;
    color: white;
  } */
  
  
  