<div class="card text-center" style="width: 400px; margin: 10px auto;">
    <div class="card-body">
      <h2 class="card-title">Ride Settings123</h2>
  
      <form [formGroup]="rideForm">
        <div class="form-group m-3">
          <label for="requesttime">Request Time:</label>
          <select formControlName="requesttime" class="form-control" id="requesttime">
            <option value="10">10 seconds</option>
            <option value="20">20 seconds</option>
            <option value="30">30 seconds</option>
            <option value="45">45 seconds</option>
            <option value="60">60 seconds</option>
            <option value="90">90 seconds</option>
            <option value="120">120 seconds</option>
          </select>
        </div>
  
        <div class="form-group m-3">
          <label for="maxstops">Maximum Stops:</label>
          <select formControlName="maxstops" class="form-control" id="maxstops">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="form-group m-3">
          <label for="twilioacoountsid">Twilio AccountSid:</label>
          <input type="text" formControlName="twilioacoountsid" class="form-control" id="twilioacoountsid">
        </div>
        <div class="form-group m-3">
          <label for="twilioauthtoken">Twilio AuthToken:</label>
          <input type="text" formControlName="twilioauthtoken" class="form-control" id="twilioauthtoken">
        </div>

        <div class="form-group m-3">
          <label for="nodemaileremail">Nodemailer Email:</label>
          <input type="text" formControlName="nodemaileremail" class="form-control" id="nodemaileremail">
        </div>
        <div class="form-group m-3">
          <label for="nodemailerpassword">Nodemailer Password:</label>
          <input type="text" formControlName="nodemailerpassword" class="form-control" id="nodemailerpassword">
        </div>

        <div class="form-group m-3">
          <label for="stripepublickey">Strip PublicKey:</label>
          <input type="text" formControlName="stripepublickey" class="form-control" id="stripepublickey">
        </div>
        <div class="form-group m-3">
          <label for="stripesecretkey">Strip SecretKey:</label>
          <input type="text" formControlName="stripesecretkey" class="form-control" id="stripesecretkey">
        </div>
  
        <div class="form-group m-3">
          <button type="button" class="btn btn-secondary" (click)="submitForm()">Submit</button>
        </div>
      </form>
  
    </div>
  </div>
  