<div class="container my-3">
    <div class="form-group row m-2 d-flex justify-content-center">
        <div class="col-sm-2">
            <select class="form-control bg-secondary text-white text-center" [(ngModel)]="statusFilter">
            <option value="" selected disabled>Status</option>
              <option value="7">Completed</option>
              <option value="8">Cancelled</option>
          </select>
        </div>
        <div class="col-sm-1">
            <select class="form-control bg-secondary text-white text-center" [(ngModel)]="paymentFilter">
                <option value="" selected disabled>Mode</option>
                <option value="cash">Cash</option>
                <option value="card">Card</option>
            </select>
        </div>
        <div class="col-sm-1">
            <select class="form-control bg-secondary text-white text-center" [(ngModel)]="vehicleTypeFilter">
              <option value="" selected disabled>Service</option>
              <option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicletype">
                {{vehicle.vehicletype}}
              </option>
            </select>
              <!-- <select class="form-control bg-secondary text-white text-center" [(ngModel)]="vehicleTypeFilter">
              <option *ngFor="let vehicleType of getUniqueVehicleTypes(createridedata)" [value]="vehicleType">{{ vehicleType }}</option>
              </select> -->
          </div>
        <div class="col-sm-2">
            <input type="date" class="form-control" [(ngModel)]="startDateFilter">
          </div>
        <div class="col-sm-2">
            <input type="date" class="form-control" [(ngModel)]="endDateFilter">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" [(ngModel)]="fromFilter" placeholder="From Filter">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" [(ngModel)]="toFilter" placeholder="To Filter">
        </div>
        <div class="col-sm-1">
            <button class="btn btn-secondary mt-2" (click)="applyFilter()">Filter</button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-secondary mt-2" (click)="clearFilter()">Clear</button>
        </div>
    </div>
  </div>

<div class="container my-5">
    <div class="form-group row m-2 d-flex justify-content-center">
        <div class="col-sm-1 m-1">
            <select class="form-control bg-secondary text-white text-center" [(ngModel)]="sortOrder" (ngModelChange)="onSort()">
                <option value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>
        </div>
        <div class="col-sm-5 m-1">
            <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchQuery">
        </div>
        <div class="col-sm-1 m-1">
            <button class="btn btn-secondary" (click)="onSearch()">Search</button>
        </div>
        <div class="col-sm-2 m-1">
            <button class="btn btn-secondary" (click)="clearSearch()">Clear</button>
        </div>
        <div class="col-sm-2 m-1">
            <button class="btn btn-secondary d-flex align-items-center" (click)="downloadDataAsCsv()"><mat-icon>arrow_downward</mat-icon>Download</button>
          </div>
        <!-- <div class="col-sm-2 m-1">
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="onAddBtnDriver()">Add</button>
        </div> -->
    </div>
</div>


<div class="container ">
    <div class="row my-4">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped text-center my-3" id="tdata">
                    <thead>
                        <tr class="table-dark text-center">
                            <th>Id</th>
                            <th>RideId</th>
                            <!-- <th>Driver Name</th> -->
                            <th>From</th>
                            <th>To</th>
                            <!-- <th>Stops</th> -->
                            <th>VehicleType</th>
                            <th>Date</th>
                            <th>TotalDistance</th>
                            <th>TotalTime</th>
                            <th>EstimatePrice</th>
                            <th>PaymentOption</th>
                            <th>Ride Status</th>
                            <th>Request</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr class="align-middle" id="tabletr" *ngFor="let confirmride of createridedata;  let i = index"
                            data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onselectedride(confirmride)">
                            <td>{{i + 1}}</td>
                            <td>{{ confirmride._id}}</td>
                            <!-- <td>{{confirmride.driverdata?.name ?confirmride.driverdata.name:'no driver'}}</td> -->
                            <td>{{ confirmride.from }}</td>
                            <td>{{ confirmride.to }}</td>
                            <!-- <td>{{ confirmride.stops.join(', ') }}</td> -->
                            <td>{{ confirmride.vehicleType}}</td>
                            <td>{{ confirmride.datetime}}</td>
                            <td>{{ confirmride.totalDistance }}</td>
                            <td>{{ confirmride.totalTime }}</td>
                            <td>{{ confirmride.estimatePrice }}</td>
                            <td>{{ confirmride.paymentOption }}</td>
                            <!-- <td>{{ confirmride.assigned}}</td> -->
                            <td>
                                <ng-container *ngIf="confirmride.assigned === 7">Completed</ng-container>
                                <ng-container *ngIf="confirmride.assigned === 8">Cancelled</ng-container>
                            </td>
                            <td>
                                <button type="button"
                                    class="btn btn-secondary btn-sm"><mat-icon>info</mat-icon></button>
                            </td>
                            <!-- <td>
                                <button type="button" class="btn btn-secondary btn-sm"
                                    (click)="onDeleteDriver(confirmride._id)">Reject</button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="createridedata.length === 0" class="text-center">
                    <p class="text-muted">No Running rides are available.</p>
                </div>
            </div>

            <div class="pagination d-flex justify-content-center">
                <button class="btn btn-secondary mx-1" [disabled]="currentPage === 1" (click)="prevPage()">Previous</button>
                <ng-container *ngFor="let page of generatePageArray()">
                    <button class="btn btn-secondary mx-1" [class.active]="page === currentPage" (click)="goToPage(page)">{{
                        page }}</button>
                </ng-container>
                <button class="btn btn-secondary mx-1" [disabled]="currentPage === totalPages"
                    (click)="nextPage()">Next</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create ride Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="selectedcreateride">
                    <p><strong>User :</strong></p>
                    <!-- <p>UserId: {{selectedcreateride.userdata._id }}</p> -->
                    <p>Name: {{selectedcreateride.userdata.name}}</p>
                    <p>Email: {{selectedcreateride.userdata.email}}</p>
                    <p>Phone: {{ selectedcreateride.userdata.phone }}</p>
                    <br>
                    <!-- <p><strong>Driver :</strong></p>
                    <p>UserId: {{selectedcreateride.driverdata._id }}</p>
                    <p>Name: {{selectedcreateride.driverdata.name}}</p>
                    <p>Email: {{selectedcreateride.driverdata.email}}</p>
                    <p>Phone: {{ selectedcreateride.driverdata.phone }}</p>
                    <br> -->
                    <p><strong>Service :</strong></p>
                    <!-- <p>VehicleTypeId: {{selectedcreateride.vehicleTypeId }}</p> -->
                    <p>VehicleType: {{selectedcreateride.vehicleType }}</p>
                    <br>
                    <!-- <p>CityId: {{selectedcreateride.cityId }}</p> -->
                    <p><strong>From: </strong> </p>
                    <p>{{selectedcreateride.from }}</p>
                    <br>
                    <p><strong>To: </strong> </p>
                    <p>{{ selectedcreateride.to }}</p>
                    <!-- <p>Stops: {{ selectedcreateride.stops }}</p> -->
                    <br>
                    <p>TotalDistance: {{selectedcreateride.totalDistance }}</p>
                    <p>TotalTime: {{selectedcreateride.totalTime }}</p>
                    <p>EstimatePrice: {{selectedcreateride.estimatePrice }}</p>
                    <!-- <p>PaymentOption: {{selectedcreateride.paymentOption }}</p>
                    <p>DateTime: {{selectedcreateride.datetime }}</p> -->
                </ng-container>
                
                <div id="googleMap" class="map-container"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>